.formatButton {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: #fcc;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    color: #a00 !important;
    border: solid 1px #a00;
    border-radius: 3px;
    padding: 2px 4px;
    text-align: center;
    opacity: 0.5;
}

.formatButton:hover {
    opacity: 1;
};